@import '../../styles/variables.scss';

.header {
  width: 100%;
  background: $primary;
  box-shadow: 0px 4px 6px rgba(117, 185, 252, 0.1);
  color: $primary-light;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0 17px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
  }
}